{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 21.08.18
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign trading_hours = settings.offices[0].trading_hours %}
{% assign hero_images = site.data.carousel_slides %}

<div class="lv-hero-wrapper">

    {% comment %}
        <!-- LOGO -->
        <div class="container">
            <img class="logo" src="/assets/img/content/logo-dark@2x.png" alt="{{ settings.company }}">
        </div>
    {% endcomment %}

    <!-- HERO -->
    <div class="lv-hero">

        {% for hero in hero_images %}

            <!-- HERO ITEM -->
            <div class="lv-hero-item" style="background-image: url('{{ hero.image }}')">
                <div class="container">
                    <div class="lv-hero-item-caption animated fadeInLeft">
                        <h1>
                            <img width="100%" src="/assets/img/content/logo-type-large.svg" alt="Stationinetyfive">
                        </h1>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->