/*
    VARIABLES.CSS

    - Last updated: 27.02.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";
$header-sm-height: 60px; // optimal
$header-md-height: 70px;
$header-lg-height: 70px;

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

$hero-sm-height:            100vh; // IMPORTANT: if carousel slides, you need a fixed height
$hero-md-height:            100vh;
$hero-md-height-fixed:      rem-calc(800);
$hero-lg-height:            100vh;

//=========================================
//
//=========================================