---
layout: base
---

{% assign settings = site.data.settings %}

{% include hero.html %}

<!-- US -->
<section id="us" class="section section-us">

	<div class="container">
		<div class="row">
			<div class="col-md-7 col-lg-6">
				<h2>Maria &amp; Kris</h2>
				<h3>Salon Directors</h3>
				<br>
				<p>We take the utmost care with your hair by using the finest products available. Our highly trained team are comitted to excellence, offering professional advice and services. We guarantee our service.</p>
			</div>
		</div>
	</div>

	{% comment %}
		<!-- DECORATIVE THUMBS -->
		<ul class="hair-thumbs block-grid-md-1 hidden-sm-down">
			<li><img width="100%" src="/assets/img/content/thumb-1.jpg" alt="Thumbnail"></li>
			<li><img width="100%" src="/assets/img/content/thumb-2.jpg" alt="Thumbnail"></li>
			<li><img width="100%" src="/assets/img/content/thumb-3.jpg" alt="Thumbnail"></li>
			<li><img width="100%" src="/assets/img/content/thumb-4.jpg" alt="Thumbnail"></li>
			<li><img width="100%" src="/assets/img/content/thumb-5.jpg" alt="Thumbnail"></li>
		</ul>

		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-10">
					<div class="row justify-content-md-center">
						<div class="mb-3 col-md-12 col-lg-7 push-lg-4 text-center text-lg-left">
							<h2>Maria &amp; Kris</h2>
							<h3>Salon Directors</h3>
							<br>
							<p>We take the utmost care with your hair by using the finest products available. Our highly trained team are comitted to excellence, offering professional advice and services. We guarantee our service.</p>
						</div>
						<div class="col-md-7 col-lg-4 pull-lg-8">
							<img width="100%" src="/assets/img/content/maria-and-kris.jpg" alt="Maria and Kris">
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endcomment %}

</section>

<!-- PRICE -->
<section id="price" class="section section-price">
	<div class="container">
		<h2 class="text-center mb-4 hidden-xl-up">Prices</h2>
		<div class="row">
			<div class="col-md-6 col-xl-3">
				<div class="price-board">
					<h3>H3. Colour</h3>
					<br>
					<h4>H4. Permanent</h4>
					<br>
					<h5>H5. Re touch <span class="float-right"><span class="text">from</span><span class="number">70</span></span></h5>
					<h6>H6. Extra Long <span class="float-right"><span class="text">from</span><span class="number">100</span></span></h6>
					<h6>H6. Lumina Re touch <span class="float-right"><span class="text">from</span><span class="number">80</span></span></h6>
					<h6>H6. Lumina Extra Long <span class="float-right"><span class="text">from</span><span class="number">110</span></span></h6>
					<br>
					<h5>H5. Re touch + Gloss</h5>
					<h6>H6. Short <span class="float-right"><span class="text">from</span><span class="number">105</span></span></h6>
					<h6>H6. Medium <span class="float-right"><span class="text">from</span><span class="number">110</span></span></h6>
					<h6>H6. Long <span class="float-right"><span class="text">from</span><span class="number">120</span></span></h6>
					<br>
					<h5>H5. Gloss color</h5>
					<h6>H6. Short <span class="float-right"><span class="text">from</span><span class="number">70</span></span></h6>
					<h6>H6. Medium <span class="float-right"><span class="text">from</span><span class="number">80</span></span></h6>
					<h6>H6. Long <span class="float-right"><span class="text">from</span><span class="number">90</span></span></h6>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="price-board">
					<h3>H3. Colour</h3>
					<br>
					<h4>H4. Foils</h4>
					<br>
					<h5>H5. Top foils <span class="float-right"><span class="text">from</span><span class="number">58</span></span></h5>
					<h6>H6. Part <span class="float-right"><span class="text">from</span><span class="number">70</span></span></h6>
					<h6>H6. Half <span class="float-right"><span class="text">from</span><span class="number">80</span></span></h6>
					<h6>H6. Full <span class="float-right"><span class="text">from</span><span class="number">130</span></span></h6>
					<h6>H6. Streaks <span class="float-right"><span class="text">from</span><span class="number">77</span></span></h6>
					<br>
					<h5>H5. Creative colour</h5>
					<h6>H6. (Free hand balayage ombre)</h6>
					<h6>H6. Short <span class="float-right"><span class="text">from</span><span class="number">70</span></span></h6>
					<h6>H6. Medium <span class="float-right"><span class="text">from</span><span class="number">80</span></span></h6>
					<h6>H6. Long <span class="float-right"><span class="text">from</span><span class="number">110</span></span></h6>
					<br>
					<h5>H5. Toner <span class="float-right"><span class="text">from</span><span class="number">40</span></span></h5>
					<br>
					<h5>H5. Treatments <span class="float-right"><span class="text">from</span><span class="number">36</span></span></h4>
					<p>P. Kerestase hair treatment<p>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="price-board">
					<h3>H3. Cut</h3>
					<br>
					<h5>H5. Women</h5>
					<h6>H6. Shampoo &amp; Cut <span class="float-right"><span class="text">from</span><span class="number">58</span></span></h5>
					<h6>H6. Restyle <span class="float-right"><span class="text">from</span><span class="number">88</span></span></h6>
					<br>
					<h5>H5. Shampoo, cut &amp; style</h5>
					<h6>H6. Short &amp; Cut <span class="float-right"><span class="text">from</span><span class="number">58</span></span></h6>
					<h6>H6. Medium <span class="float-right"><span class="text">from</span><span class="number">68</span></span></h6>
					<h6>H6. Long <span class="float-right"><span class="text">from</span><span class="number">78</span></span></h6>
					<br>
					<h5>H5. Girls</h5>
					<h6>H6. under 12 years <span class="float-right"><span class="text">from</span><span class="number">36</span></span></h6>
					<h6>H6. over 12 years <span class="float-right"><span class="text">from</span><span class="number">47</span></span></h6>
					<br>
					<h5>H5. Men</h5>
					<h6>H6. Shampoo &amp; Cut <span class="float-right"><span class="text">from</span><span class="number">33</span></span></h6>
					<br>
					<h5>H5. Boys</h4>
					<h6>H6. under 12 years <span class="float-right"><span class="text">from</span><span class="number">33</span></span></h6>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="price-board is-short">
					<h3>H3. Style</h3>
					<br>
					<h5>H5. Women</h5>
					<h6>H6. Short <span class="float-right"><span class="text">from</span><span class="number">40</span></span></h6>
					<h6>H6. Medium <span class="float-right"><span class="text">from</span><span class="number">48</span></span></h6>
					<h6>H6. Long <span class="float-right"><span class="text">from</span><span class="number">58</span></span></h6>
					<h6>H6. Extra Long <span class="float-right"><span class="text">from</span><span class="number">68</span></span></h6>
					<h6>H6. Thermal <span class="float-right"><span class="text">from</span><span class="number">36</span></span></h6>
					<h6>H6. Up do <span class="float-right"><span class="text">from</span><span class="number">95</span></span></h6>
					<br>
					<h5>H5. Bridal <span class="float-right"><span class="text">from</span><span class="number">110</span></span></h5>
				</div>
				<div class="price-board is-short">
					<h3>H3. Prices</h3>
					<p>Prices Colour prices are based on a combination of time required and the amount of product used during the service. The amount of product used can vary pending length and density of hair. A more accurate price will be provided upon consultation.</p>
				</div>
			</div>
		</div>

		<!-- AFFILIATES -->
		<div class="affiliates">
			<a href="#"><img width="70" src="/assets/img/content/affiliate-1@2x.png" alt="Wella"></a>
			<a href="#"><img width="75" src="/assets/img/content/affiliate-2@2x.png" alt="Evo"></a>
			<a href="#"><img width="100" src="/assets/img/content/affiliate-3@2x.png" alt="Kerastase Paris"></a>
		</div>

	</div>
</section>

<!-- PROMOTIONS -->
<section id="promotions" class="section section-promotions">
	<div class="container">
		<div class="row align-items-center text-center">
			<div class="col-lg-6">
				<h2>Special Offer</h2>
				<h3><span class="dollar-sign">$</span><span class="number">40</span><span class="asterisk">*</span><br>
				Blow Dry</h3>
				<p>Wednesday and Thursday<br>
				*Receive a FREE Kerastase Treatment<br>
				Any length hair</p>
				<div class="spacer mb-3 hidden-lg-up"></div>
			</div>
			<div class="col-lg-6">
				<p><img class="supporting-image" width="100%" src="/assets/img/content/promotion.jpg" alt="Promotion"></p>
			</div>
		</div>
	</div>
</section>