
<!-- http://stackoverflow.com/questions/13491657/javascript-library-to-convert-web-page-to-pdf --><h2>Sitemap</h2>
<br>
<a class="btn btn-secondary" href="#" role="button">
    <i class="fa fa-print"></i> Print</a>
<a class="btn btn-secondary" href="#" role="button">
    <i class="fa fa-download"></i> Download PDF</a>
<div class="sitemap">
    <ul id="utilityNav"></ul>
    <br>
    <br>
    <br>
    <br>
    <ul id="primaryNav" class="">
        <li>
            <a href="#/preview#home">
                <small>#home</small>
                <br>
                <span class="top-count">1</span> Home</a>
        </li>
        <li>
            <a href="#/preview#us">
                <small>#us</small>
                <br>
                <span class="top-count">2</span> Us</a>
        </li>
        <li>
            <a href="#/preview#price">
                <small>#price</small>
                <br>
                <span class="top-count">3</span> Price</a>
        </li>
        <li>
            <a href="#/preview#promotions">
                <small>#promotions</small>
                <br>
                <span class="top-count">4</span> Promotions</a>
        </li>
        <li>
            <a href="#/preview#contact-us">
                <small>#contact-us</small>
                <br>
                <span class="top-count">5</span> Contact Us</a>
        </li>
    </ul>
</div>